@import "tailwindcss";

@theme {
  --color-primary: #2F855A;
  --color-secondary: #8D6E63;
  --color-background: #F7FAFC;
  --color-foreground: #171717;
}

/* Custom Utilities */
@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  max-width: 1280px;
}

body {
  background-color: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-geist-sans), sans-serif;
}

